.group {
  border: 1px solid rgba($color: white, $alpha: 0.4);
  border-radius: 6px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  .row {
    display: flex;
    gap: 4px;
  }
}
